// Imports
@import './variables';
@import './mixins';
@import './estacoes.scss';

#cellphone {
    max-height: 100%;
    height: 100vh;
    padding-bottom: 7vh;

    .searchBox {
        display: flex;
        max-width: 75vw;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        background: $white;
        border-radius: 50px;
        position: fixed;
        z-index: 3;
        top: 15px;

        .searchButton {
            color: $black;
            position: absolute;
            right: 8px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--gradient-2, linear-gradient(90deg, $lightOrange 0%, $darkBrown 100%));
            border: 0;
            display: inline-block;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        }

        .searchInput {
            border: none;
            background: none;
            outline: none;
            color: $black;
            font-size: 15px;
            padding: 24px 46px 24px 26px;
        }
    }

    /*hover effect*/
    button:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
        transform: translateY(-3px);
    }
    /*button pressing effect*/
    button:active {
        box-shadow: none;
        transform: translateY(0);
    }

    #API-Leaflet {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    
        #map {
            z-index: 1;
            height: 100%; 
            width: 100%; 
            display: inline-block;
        }
    }

    .cadastro-container {
        position: absolute;
        bottom: 0px;
        z-index: 3;
    }
}