<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare Connect</title>
    <link rel="stylesheet" href="../styles/step2.css">
</head>
<body>
    <div id="cellphone">
        <div id="signin-header">
            <div id="ping1"></div>
            <div id="active"></div>
            <div id="ping3"></div>
            <img id="cyclistImage" src="assets/cyclist.png"/>
            <img id="coneImage" src="assets/cone.png"/>
            <h1 id="signin-title">BikeShare</h1>
        </div>
        <div id="signin-container">
            <h1 id="signin-subtitle">Eu sou um...</h1>
            <div id="buttons-container">
                <button class="button green">
                    <h1>Usuário</h1>
                    <img class="buttonIMG" src="assets/normalUserLogo.png"/>
                </button>
                <button class="button yellow">
                    <h1>ADM</h1>
                    <img class="buttonIMG" src="assets/ADMLogo.png"/>
                </button>
            </div>
            <button id="next-button">Next</button>
            <img id="whiteBike" src="assets/whiteBike.png"/>
            <footer id="signin-footer">
                <h7>Já tem uma conta? <a class="soft-link" href=""><b>Log in</b></a></h7>
            </footer>
        </div>
    </div>
</body>
</html>