<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare Connect</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div id="cellphone">
        <div id="signin-header">
            <img id="coneImageLeft" src="assets/coneEsquerda.png"/>
            <img id="coneImageRight" src="assets/coneDireita.png"/>
            <p id="dica-login">Faça log in para continuar...</p>       
            <h1 id="signin-title">BikeShare</h1>
        </div>
        <div id="signin-container">
            <div id="login-title-container">
                <h1 id="signin-subtitle">Log In</h1>
                <img id="cyclistImage" src="assets/cyclist.png"/>
            </div>
            <div id="inputs-container">
                <p class="input-name">Email</p>
                <input type="email" class="signin-input" placeholder="danfm@gmail.com"/>
                <p class="input-name">Password</p>
                <input type="password" class="signin-input" placeholder="******"/>
            </div>
            <div id="login-button-container">
                <button id="next-button">Login</button>
            </div>
        </div>
        <div id="footer-container">
            <footer id="signin-footer">
                <h7><a class="soft-link" href=""><b>Esqueceu a senha?</b></a></h7>
            </footer>
        </div>
    </div>
</body>
</html>