<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Estacoes </title>
    <link rel="stylesheet" href="../styles/cartoes.css">
    <script src="estacoes.js" defer></script>
    <script src="../scripts/linksPaginas.js" defer></script>
</head>
<body>
    <div id="listaEstacoes">
        <!-- Pode comentar essa div card. Ela serve só de exemplo -->
        <div class="card">
            <img src="../assets/estacao.avif" alt="Image 1">
            <div class="card-content">
                <h2 class="card-title">Titulo</h2>
                <p class="card-description">Belissima descricao</p>
            </div>
        </div>
    </div>
</body>
</html>