<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacoes</title>
    <link rel="stylesheet" href="../styles/estacoes.css">
    <script src="estacoes.js" defer></script>
</head>
<body>
    <div id="cellphone">
        <!-- App Bar -->
        <div id="appbar">
            <img id="logo" src="./assets/manCycling.png" alt="Logo">
            <h1 id="logo-text">BikeShare</h1>
        </div>

        <!-- Botão de Filtros -->
        <div id="filter-btn">
            <div id="filter-text">Filtros</div>
        </div>

        <div id="listaEstacoes">
            <div class="card">
                <img src="../assets/estacao.avif" alt="Image 1">
                <div class="card-content">
                    <h2 class="card-title">Titulo</h2>
                    <p class="card-description">Belissima descricao</p>
                </div>
            </div>
        </div>

        <!-- Barra de Navegação -->
        <div id="navbar">
            <img src="./assets/homeIcon.png" alt="Home">
            <img src="./assets/mapsIcon.png" alt="Location">
            <div id="active">
                <img src="./assets/stationIcon.png" alt="Station">
            </div>
            <img src="./assets/userIcon.png" alt="User">
        </div>
    </div>
</body>
</html>