<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Estacoes </title>
    <link rel="stylesheet" href="style.css">
    <script src="estacoes.js" defer></script>
</head>
<body>
    <div id="listaEstacoes">
        <div class="card">
            <img src="assets/estacao.avif" alt="Image 1">
            <div class="card-content">
                <h2 class="card-title">John Doe</h2>
                <p class="card-description">A passionate photographer and traveler who loves capturing the beauty of nature.</p>
            </div>
        </div>
    </div>
</body>
</html>