<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare Connect</title>
    <link rel="stylesheet" href="../styles/step4.css">
</head>
<body>
    <div id="cellphone">
        <div id="signin-header">
            <h1 id="signin-title">BikeShare</h1>
            <div id="pfp-container">
                <img id="pfp" src="assets/pfpLogo.png">
            </div>
            <h1 id="pfp-description">Queremos reconhecer você!</h1>
            <p id="pfp-addin">Adicione uma foto de perfil...</p>
            <button id="next-button">Next</button>
            <img id="whiteBike" src="assets/whiteBike.png"/>
        </div>
    </div>
</body>
</html>