// Imports
@import './variables';
@import './mixins';

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
    height: 100vh;
}

header {
    @include flexCenter(column);
    display:flex;
    color: white;
    button {
        &:hover {
            background-color: yellow;
        }
        &::after{
            content: "xiiii";
        }
    }
}