// > Variables

// General
$black: #000000;
$darkBrown: #bf592b;
$lightBrown: #edbea4;
$lightOrange: #fe854f;
$darkOrange: #e46b34;
$green: #6bbf59;
$lightGreen: #a1c659;
$yellow: #fecb4f;
$darkYellow: #ff953f;
$gray: #e7f0f1;
$white: #ffffff;

$openSans: 'Open Sans', Helvetica, sans-serif;
$poppins: 'Poppins', Helvetica, sans-serif;
$workSans: 'Work Sans', Helvetica, sans-serif;
$moreSugar: 'More Sugar', Helvetica, sans-serif;

// Dots
$inactiveDot: $lightBrown;
$activeDot: $lightOrange;

// Profile pic
$profilePic: $lightOrange;

// Signin
$signinBackground: $darkBrown;
$signinTitle: $lightOrange;

// Header
$headerBackground: $darkOrange;

// Active
$activeCenter: #ff9b3e;
$activeBorder: #ff7a00;