<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare</title>
    <link rel="stylesheet" href="./style/bicicletas.css">
    <script src="bicicletas.js" defer></script>
</head>
<body>
    <div id="cellphone">
        <!-- App Bar -->
        <div id="appbar">
            <img id="logo" src="./assets/manCycling.png" alt="Logo">
            <h1 id="logo-text">BikeShare</h1>
        </div>
        
        <!-- Botão de Filtros -->
        <div id="filter-btn">
            <div id="filter-text">Filtros</div>
        </div>
        
        <!-- Formulário de Cadastro -->
        <div class="cadastro-container">
            <input id="foto" type="file">
            <div>
                <label for="UsuarioDono">Usuário dono:</label>
                <select id="UsuarioDono">
                    <option value="">null</option>
                </select>
            </div>
            <div>
                <label for="ID_Estacao">Estação atual da bicicleta:</label>
                <select id="ID_Estacao">
                    <option value="">null</option>
                </select>
            </div>
            <button id="cadastrar">Cadastrar</button>
        </div>

        <!-- Lista de Bicicletas -->
        <div id="listaBicicletas">
            <div class="card">
                <img src="./assets/bike1.png" alt="Bike 1">
                <div class="card-content">
                    <h2 class="card-title">Bike #1</h2>
                    <p class="card-description">Bicicleta urbana com pneus largos e furados para instalar bagageiro e paralamas.</p>
                    <p class="card-station"><img src="./assets/locationIcon.png">Estação 4</p>
                </div>
            </div>
            <div class="card">
                <img src="./assets/bike2.png" alt="Bike 2">
                <div class="card-content">
                    <h2 class="card-title">Bike #2</h2>
                    <p class="card-description">Bicicleta dobrável para uso urbano, ideal para trabalho e faculdade.</p>
                    <p class="card-station"><img src="./assets/locationIcon.png">Estação 2</p>
                </div>
            </div>
            <div class="card">
                <img src="./assets/bike3.png" alt="Bike 56">
                <div class="card-content">
                    <h2 class="card-title">Bike #56</h2>
                    <p class="card-description">Bicicleta aro 29 para terrenos difíceis, com marcha robusta.</p>
                    <p class="card-station"><img src="./assets/locationIcon.png">Estação 2</p>
                </div>
            </div>
        </div>

        <!-- Barra de Navegação -->
        <div id="navbar">
            <div id="active">
                <img src="./assets/homeIcon.png" alt="Home">
            </div>
            <img src="./assets/mapsIcon.png" alt="Location">
            <img src="./assets/stationIcon.png" alt="Station">
            <img src="./assets/userIcon.png" alt="User">
        </div>
    </div>
</body>
</html>