<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare Connect</title>
    <link rel="stylesheet" href="./style/index.css">
</head>
<body>
    <div id="cellphone">
        <div id="signin-header">
            <div id="active"></div>
            <div id="ping2"></div>
            <div id="ping3"></div>
            <h1 id="signin-title">BikeShare</h1>
        </div>
        <div id="signin-container">
        </div>
    </div>
</body>
</html>