<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare</title>
    <link rel="stylesheet" href="../styles/conta.css">

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js"></script>

    <script src="../scripts/conta.js" defer></script>
</head>

<body>
    <div id="cellphone">
        <!-- App Bar -->
        <div id="appbar">
            <img id="logo" src="../assets/manCycling.png" alt="Logo">
            <h1 id="logo-text">BikeShare</h1>
        </div>

        <!-- Lista de Bicicletas -->
        <div id="cadastro">
            <header id="cadastro-header">
                <div id="images-container">
                    <img id="pfp" src="../assets/pfpLogo.png"/>
                    <img id="editarFoto" src="../assets/drawIcon.png"/>
                </div>
                <h1 id="nome"></h1>
            </header>
            <div id="nome" class="campo">
                <h2></h2>
                <img id="fotoNome" src="../assets/drawIcon.png" />
            </div>
            <div id="resposta-nome" class="resposta">
                <h2></h2>
            </div>
            <div id="telefone" class="campo">
                <h2></h2>
                <img id="fotoTelefone" src="../assets/drawIcon.png" />
            </div>
            <div id="resposta-telefone" class="resposta">
                <h2></h2>
            </div>
            <div id="email" class="campo">
                <h2></h2>
                <img id="fotoEmail" src="../assets/drawIcon.png" />
            </div>
            <div id="resposta-email" class="resposta">
                <h2></h2>
            </div>
            <div id="endereço" class="campo">
                <h2></h2>
                <img id="fotoEndereco" src="../assets/drawIcon.png" />
            </div>
            <div id="resposta-endereço" class="resposta">
                <h2></h2>
            </div>
            <div id="cpf" class="campo">
                <h2></h2>
            </div>
            <div id="resposta-cpf" class="resposta">
                <h2></h2>
            </div>
        </div>

        <!-- Barra de Navegação -->
        <div id="navbar">

            <a href="../Bicicletas/ADM.html">
                <img src="../assets/homeIcon.png" alt="Home">
            </a>

            <a href="../Estacoes/mapaADM.html">
                <img src="../assets/mapsIcon.png" alt="Location">
            </a>

            <a href="../Estacoes/ADM.html">
                <img src="../assets/stationIcon.png" alt="Station">
            </a>

            <a href="../Conta/contaADM.html" id="active">
                <img src="../assets/userIcon.png" alt="User">
            </a>
        </div>
    </div>
</body>

</html>