<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare</title>
    <link rel="stylesheet" href="./style/conta.css">
</head>
<body>
    <div id="cellphone">
        <!-- App Bar -->
        <div id="appbar">
            <img id="logo" src="./assets/manCycling.png" alt="Logo">
            <h1 id="logo-text">BikeShare</h1>
        </div>

        <!-- Lista de Bicicletas -->
        <div id="cadastro">
            <header id="cadastro-header">
                <img id="pfp" src="https://i.ytimg.com/vi/Yh6x6UHkUo8/maxresdefault.jpg"/>
                <h1 id="nome">Mr. Bean</h1>
            </header>
            <div id="nome" class="campo">
                <h2>Nome:</h2>
                <img src="assets/drawIcon.png"/>
            </div>
            <div id="resposta-nome" class="resposta">
                <h3>Mr Bean</h2>
            </div>
            <div id="telefone" class="campo">
                <h2>Telefone:</h2>
                <img src="assets/drawIcon.png"/>
            </div>
            <div id="resposta-telefone" class="resposta">
                <h3>+55 83 9304-1820</h2>
            </div>
            <div id="email" class="campo">
                <h2>Email:</h2>
                <img src="assets/drawIcon.png"/>
            </div>
            <div id="resposta-email" class="resposta">
                <h3>danfm@gmail.com</h2>
            </div>
            <div id="endereço" class="campo">
                <h2>Endereço:</h2>
                <img src="assets/drawIcon.png"/>
            </div>
            <div id="resposta-endereço" class="resposta">
                <h3>Rua Francisca Fernandes Claudino, 440</h2>
            </div>
            <div id="cpf" class="campo">
                <h2>CPF:</h2>
                <img src="assets/drawIcon.png"/>
            </div>
            <div id="resposta-cpf" class="resposta">
                <h3>103.116.504-57</h2>
            </div>
        </div>

        <!-- Barra de Navegação -->
        <div id="navbar">
            
            <a href="../Bicicletas/ADM.html">
                <img src="./assets/homeIcon.png" alt="Home">
            </a>
            
            <a href="../Estacoes/mapaADM.html">
                <img src="./assets/mapsIcon.png" alt="Location">
            </a>
            
            <a href="../Estacoes/ADM.html">
                <img src="./assets/stationIcon.png" alt="Station">
            </a>
            
            <a href="../Conta/contaADM.html" id="active">
                <img src="./assets/userIcon.png" alt="User">
            </a>
        </div>
    </div>
</body>
</html>