<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare Connect</title>
    <link rel="stylesheet" href="../styles/step3.css">
    <script src="../scripts/step3.js" defer></script>
</head>
<body>
    <div id="cellphone">
        <div id="signin-header">
            <div id="ping1"></div>
            <div id="ping2"></div>
            <div id="active"></div>
            <img id="cyclistImage" src="../assets/cyclist.png"/>
            <img id="coneImage" src="../assets/cone.png"/>
            <h1 id="signin-title">BikeShare</h1>
        </div>
        <div id="signin-container">
            <h1 id="signin-subtitle">Sign Up</h1>
            <div id="inputs-container">
                <p class="input-name">Telefone</p>
                <input type="tel" id="telefone" class="signin-input" placeholder="(83) 9304-1820" maxlength="11"/>
                <p class="input-name">CPF</p>
                <input type="text" id="cpf" class="signin-input" placeholder="123.123.123-12"/>   
                <p class="input-name">Endereço</p>
                <input type="text" id="endereco" class="signin-input" placeholder="Rua Francisca Fernandes Claudino, 440"/>
            </div>
            <button id="next-button">Next</button>
            <img id="whiteBike" src="../assets/whiteBike.png"/>
            <footer id="signin-footer">
                <h7>Já tem uma conta? <a class="soft-link" href=""><b>Log in</b></a></h7>
            </footer>
        </div>
    </div>
</body>
</html>